<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../assets/home.css">
</head>

<body>
  <section class="Bigest-section">

    <!-- Now We Can Start from Heare -->
    <section class="top-red-box">
      <ul>
        <li><a href="">LIBRARY & INFORMATION CENTRE</a></li>
        <li><a href="">ANTI-RAGGING</a></li>
        <li><a href="">RTI</a></li>
        <li><a href="">FEEDBACK</a></li>
        <li><a href="">Alumni Registration</a></li>
        <li><a href="">FDPs</a></li>

      </ul>
    </section>

    <section class="Baner-section-background">
      <div class="Baner-div-Outer">

        <div class="logo-location-div">
          <div class="logo-div"></div>
          <div></div>
        </div>
        <div class="nav-bar-div">
          <ul>
            <li>
              <a href="https://www.gdcr.ac.in/wp/">Home</a>

            </li>
            <li>
              <a href="">Administration</a>
              <div class="dropdown-div">
                <ul>
                  <li><a href="https://www.durguniversity.ac.in/">College Administration</a>
                  </li>
                  <li><a href="https://www.durguniversity.ac.in/">Finanace</a>
                  </li>
                  <li><a href="https://www.durguniversity.ac.in/"> Cell & Commitee</a>
                  </li>
                  <li><a href="https://www.durguniversity.ac.in/">Apprasial</a>
                  </li>
                  <li><a href="https://www.durguniversity.ac.in/">Regulatory</a>
                  </li>
                </ul>
              </div>

            </li>
            <li>
              <a href="">Autonomous Exam Cell</a>
              <div class="dropdown-div">
                <ul>
                  <li><a href="https://digvijay.onlineexamforms.com/result.aspx">Result</a>
                  </li>
                  <li><a href="https://digvijay.onlineexamforms.com/result.aspx">Governing Body</a>
                  </li>
                  <li><a href="https://digvijay.onlineexamforms.com/result.aspx"> Academic Council</a>
                  </li>
                  <li><a href="https://digvijay.onlineexamforms.com/result.aspx">Committee</a>
                  </li>
                </ul>
              </div>

            </li>
            <li>
              <a href="">Facilities</a>
              <div class="dropdown-div">
                <ul>
                  <li><a href="https://www.gdcr.ac.in/wp/career-guidance-and-counseling-cell/">Employment & Guidance
                      Cell </a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/career-guidance-and-counseling-cell/">IT Facilities</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/career-guidance-and-counseling-cell/">N.S.S</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/career-guidance-and-counseling-cell/">N.C.C</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/scholarship/">Youth Red Cross</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/scholarship/">W.G.R cell</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/scholarship/">Sports</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/scholarship/">Scholarship</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/scholarship/">Laboratries</a></li>
                  <li><a href="https://www.gdcr.ac.in/wp/scholarship/">Gold Medal List</a></li>




                </ul>
              </div>

            </li>
            <li>
              <a href="">IQAC</a>


            </li>
            <li>
              <a href="">NIRF</a>


            </li>
            <li>
              <a href="">Publication</a>
              <div class="dropdown-div">
                <ul>
                  <li><a href="">Digvijay Campus(Quaterly)</a>
                  </li>
                  <li><a href="">Research Front</a>
                  </li>

                </ul>
              </div>
            </li>
            <li>
              <a href="">Contact</a>

            </li>
          </ul>
        </div>

      </div>
    </section>

    <!--                Cards Section -->
    <section class="cards-section">
      <div class="cards-section-div">
        <div class="clr-card-pink"><a href="https://www.gdcr.ac.in/wp/research-policy/" style="color: black">RESEARCH
          </a></div>
        <div class="clr-card-red"><a href="https://www.gdcr.ac.in/wp/courses/" style="color: white">COURSES</a></div>
        <div class="clr-card-pink"><a href="https://www.gdcr.ac.in/wp/chemistry-annual-practical-examination-notice/"
            style="color: black">NEWS</a></div>
        <div class="clr-card-red"><a href="https://www.gdcr.ac.in/wp/gallery/" style="color: white">GALLERY</a></div>
      </div>
    </section>

    <!--  Bulleten News -->

    <section class="Bulleten-Section">
      <div class="Bulleten-div">
        <div class="Bulleten-div-one">
          <h2>NOTICE:- </h2>
        </div>
        <div class="Bulleten-div-two">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatum. Molestias quod deleniti repudiandae </p>
        </div>
      </div>
    </section>

    <!-- ABOUT Section -->
    <section class="ABOUT-Section">
      <div class="ABOUT-div">
        <div class="About-div-first-div">
          <div class="About-div-first-div-details">
            <h1>About GDCR</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius,
              illum
              cumque in non delectus minus rem, laborum officia
              labore
              praesentium consequatur ab. Lorem ipsum dolor sit
              amet
              consectetur
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, necessitatibus! </p>
            <button class="ABOUT-GDCR"><a href="https://www.gdcr.ac.in/wp/about-college/" style=" color: white"> Read
                more </a> </button>
          </div>
          <div class="About-div-first-div-img"></div>
        </div>
        <div class="Directors-div">
          <h1> PRINCIPAL's DESK </h1>
          <div class="Directors-div-insideDiv">
            <div class="Directors-img"></div>
            <div class="Directors-details">
              <h5>Prof. V. Ramgopal Rao</h5>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Culpa doloribus
                placeat ullam fugiat! Ipsa possimus
                quaerat a, eius ullam modi. Lorem ipsum
                dolor sit amet, consectetur adipisicing
                elit. Atque, maxime!</p>
              <button> <a href="https://www.gdcr.ac.in/wp/principal_desk/"> Read More </a> </button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ----- News Section -->

    <section class="News-Section">
      <div class="news-section-div first-card">
        <!-- cards News -->
        <div class="card">
          <div class="news-details">
            <h2>Daily News</h2>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Qui maiores rem magni id assumenda quibusdam odit
              et! Modi maxime eveniet, impedit eum ratione at
              tempore. Maxime eum dolorum provident eligendi...
            </p>
            <button> <a href="https://www.gdcr.ac.in/wp/corona-vaccine-awareness-campaign/">Read More</a> </button>
          </div>
          <img src="../images/hanover-4152279_1920.jpg" alt="">
        </div>

        <div class="card">
          <div class="news-details">
            <h2>Daily News</h2>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Qui maiores rem magni id assumenda quibusdam odit
              et! Modi maxime eveniet, impedit eum ratione at
              tempore. Maxime eum dolorum provident eligendi...
            </p>
            <button> <a href="https://www.gdcr.ac.in/wp/corona-vaccine-awareness-campaign/">Read More</a> </button>
          </div>
          <img src="../images/hanover-4152279_1920.jpg" alt="">
        </div>

      </div>

      <!-- 2 -->

      <div class="news-section-div">
        <!-- cards News -->
        <div class="card">
          <div class="news-details">
            <h2>Daily News</h2>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Qui maiores rem magni id assumenda quibusdam odit
              et! Modi maxime eveniet, impedit eum ratione at
              tempore. Maxime eum dolorum provident eligendi...
            </p>
            <button> <a href="https://www.gdcr.ac.in/wp/corona-vaccine-awareness-campaign/">Read More</a> </button>
          </div>
          <img src="../images/hanover-4152279_1920.jpg" alt="">
        </div>

        <div class="card">
          <div class="news-details">
            <h2>Daily News</h2>
            <hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Qui maiores rem magni id assumenda quibusdam odit
              et! Modi maxime eveniet, impedit eum ratione at
              tempore. Maxime eum dolorum provident eligendi...
            </p>
            <button> <a href="https://www.gdcr.ac.in/wp/corona-vaccine-awareness-campaign/">Read More</a> </button>
          </div>

          <img src="../images/hanover-4152279_1920.jpg" alt="">
        </div>

      </div>

    </section>

    <!-- ACADEMIC Section -->

    <section class="ACADEMIC-Section">
      <h2> ACADEMIC UNITS </h2>
      <div class="ACADEMIC-UNITS-inside-div">
        <div style="font-size: 1rem">Department</div>
        <div style="font-size: 1rem"> Department Outcome</div>
        <div style="font-size: 1rem">Activities</div>
        <div style="font-size: 1rem">Academic Calender</div>
      </div>
    </section>



    <!-- Student-info-Section -->

    <section class="Student-info-section">
      <div class="Student-info-div">
        <h2>STUDENTS CORNER</h2>

        <div class="UG_PG_MAIN_DIV">
          <div class="UG-PG-div">
            <h2>Post-Graduate</h2>
            <button> VIEW ALL </button>

          </div>

          <div class="UG-PG-div">
            <h2>Under-Graduate</h2>
            <button> VIEW ALL </button>
          </div>
        </div>
      </div>
    </section>


    <!-- Total Student Section -->

    <section class="Total-Student-Section">
      <div class="Total-Student-Div">

        <div>
          <h1>1000+</h1>
          <p>STUDENTS</p>
        </div>
        <div>
          <h1>600+</h1>
          <p>FACALITY</p>
        </div>
        <div>
          <h1>5000+</h1>
          <p>STAFF</p>
        </div>

      </div>
    </section>

    <!-- FAQ Section -->

    <section class="FAQ-Section">
      <div class="FAQ-Div">
        <div class="FAQ-div1">
          <h2>FAQs.</h2>
          <p>Frequently Acked Questions.</p>
          <div class="FAQ-Question-div">[+] This is the Questions.</div>
          <div class="FAQ-Question-div">[+] This is the Questions.</div>
          <div class="FAQ-Question-div">[+] This is the Questions.</div>
          <div class="FAQ-Question-div">[+] This is the Questions.</div>
        </div>
        <div class="FAQ-div2">

        </div>
      </div>
    </section>

    <!-- Just a Image Section -->
    <section class="just-img-background"></section>



    <footer>
      <div class="footer-logo"></div>
      <div class="footer-second-div">
        <div class="Quick-Links1-div">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="">BUS CONCESSION FORM</a></li>
            <li><a href="">ONLINE ADMISSION FORM</a></li>
            <li><a href="">Online Results Portal</a></li>
            <li><a href="">Syllabus</a></li>
            <li><a href="">Hemchand Yadav Vishwavidyalaya, Durg</a></li>
            <li><a href="">University Grants Commission</a></li>

          </ul>
        </div>
        <div class="Quick-Links2-div">
          <h4>Explore More</h4>

          <ul>
            <li><a href="">University Grants Commission</a></li>

            <li><a href="">Higher Education – Chhattisgarh</a></li>
            <li><a href="">Chhattisgarh Employment Service</a></li>
            <li><a href="">Green Initiative</a></li>

            <li><a href="">Rain Water Harvesting System</a></li>
            <li><a href="">RESEARCH FRONTS VOL VIII 2018</a></li>

          </ul>
        </div>
      </div>
    </footer>
    <div class="end-div"></div>












  </section>

</body>

</html>